<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="im.angry.openeuicc.common.overlay">
    <overlay android:targetPackage="im.angry.openeuicc.common"
             android:targetName="OpenEUICC"
             android:isStatic="true"
             android:priority="100" />
</manifest>
